@tailwind base;
@tailwind components;
@tailwind utilities;

/* PRIMARY FONT */
@font-face {
  font-family: "Oswald-regular";
  src: url("../fonts/Oswald/static/Oswald-Regular.ttf") format("truetype");
}

/* SECONDARY FONT */
@font-face {
  font-family: "Handjet-regular";
  src: url("../fonts/Handjet/static/Handjet-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Handjet-light";
  src: url("../fonts/Handjet/static/Handjet-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito-regular";
  src: url("../fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
}

@font-face{
  font-family: "Assistant-regular";
  src: url("../fonts/Assistant/static/Assistant-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Assistant-regular";
  src: url();
}

.react-sweet-progress-symbol {
  color: white !important;
}
